<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
    <title>Index Page</title>
</head>
<body>
    <header>Hello <%= locals.username %>
    </header>
    <main>
        <nav>
            <img src="/download.svg" alt="Download file">
            <form id="deleteForm" action="/delete" method="post">
                <button class="deletor">
                    <img src="/trash.svg" alt="Delete file">
                </button>
            </form>
            <form style="visibility: hidden;" id="deleteFolderForm" action="/deleteFolder" method="post">

            </form>
            <form action="/upload" method="post" enctype="multipart/form-data" class="fileUploader">
                <label for="upload">
                    <img src="/upload.svg" alt="Upload file">
                </label>
                <input type="file" name="file" id="upload" hidden onchange="this.parentNode.submit()">
                <input type="text" name="fileName">
            </form>
        </nav>
        <ul>
            <% if (locals.data) { %>
             <% locals.data.forEach(e => { %>
              <li>
                <% if(e.fileName) {%>
                    <label>
                        <img src="/file.svg" alt="File">
                        <%= e.name %>
                        <input link="<%= e.link %>" type="checkbox" name="dataUnit[]" id="file" form="deleteForm" value="<%= e.id %>">
                    </label>
                <% } else { %>
                    <a href="<%= e.path %>/<%= e.name %>">
                        <img src="/folder.svg" alt="Folder">
                        <%= e.name %>
                    </a>
                    <label>
                        <input type="checkbox" name="folders[]" id="folder" form="deleteFolderForm" value="<%= e.id %>">
                    </label>
                <% } %>
             </li>
             <% }) %>
            <% } %>
        </ul>
    </main>
    <footer>
        <!-- For testing -->
        <form action="/createFolder" method="post">
            <input type="text" name="folderName">
            <button type="submit">enter</button>
        </form>
    </footer>
</body>
</html>